* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: #4b4453;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: #ff8066;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.nav-list {
  display: flex;
  gap: 2rem;
}

.nav-item {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
}

.nav-item a {
  color: #b0a8b9;
  text-decoration: none;
  transition: 0.3s;
}

.nav-item a:hover {
  color: #fff;
}
